
   .container{text-align:center;}
    body{background-color: #000; font-family: 'Oswald', sans-serif;color: #fff;}
    nav{display: flex; justify-content: center; }
    nav a{margin: 20px; color: #fff; text-decoration: none; padding: 20px; font-size: 22px;}
    a:hover{color: green;}
    .logo{text-align: center;}
    h2 a{text-align: center;color:#fff; text-decoration: none;}
    .footer{display: flex; justify-content: center;}
    .footer img{width: 40px;height: 40px;}
    .footer a{color: #fff; text-decoration: none; margin:10px;}

